
@{
    ViewBag.Title = "About";
}
<div>
    <p class="text-secondary text-center h2">The System Story</p>
    <hr />
    <p class="text-dark text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat dignissim vehicula. Morbi iaculis nisi a massa pulvinar, at porttitor velit pharetra. Nulla hendrerit, sapien eu blandit cursus, nibh dui scelerisque nulla, eu dignissim urna justo sit amet libero. Aenean nec tincidunt magna. Sed in orci aliquet felis molestie luctus. Morbi hendrerit neque sed felis ultricies venenatis.
        <br />
        <br />
        Duis consectetur urna a porttitor dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut quis blandit augue. Duis tristique neque dignissim libero rutrum, nec maximus nulla tristique. Cras nec massa id diam interdum lacinia. Mauris metus sem, dapibus vel hendrerit eget, placerat vel nisi. Praesent elit elit, ornare eu ultricies a, dictum quis.
    </p>
</div>
<p></p>